#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #284399, #996DE2);
    z-index: 9999;
}

#loading .logo {
    width: 25%;
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading_icon {
    width: 20%;
    max-width: 200px;
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
}

.loading_txt {
    font-size: 28px;
    color: #fff;
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    #loading .logo {
        width: 70%;
    }
    .loading_txt {
        font-size: 24px;
    }
}

@media screen and (max-width: 500px) {
    #loading .logo {
        width: 60%;
    }
    .loading_txt {
        font-size: 16px;
        bottom: 15vh;
    }
    .loading_icon {
        width: 25%;
        position: absolute;
        bottom: 20vh;
    }
}


/* 跑馬燈 */

.marquee {
    animation: marquee 3s linear infinite;
    will-change: transform;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.marquee img,
.marqueebox img {
    height: 100%;
    height: 250px;
    width: auto;
}

@media (max-width:1000px) {
    .marquee img,
    .marqueebox img {
        max-height: 250px;
        height: 100%;
        width: auto;
    }
}

@media (max-width:576px) {
    .marquee img,
    .marqueebox img {
        height: 100px;
        width: auto;
    }
}


/* 手搖 */

.handshake {
    animation: handshake .25s infinite ease-in-out;
    transform-origin: right bottom;
}

@keyframes handshake {
    0% {
        rotate: -25deg;
    }
    50% {
        rotate: 5deg;
    }
    100% {
        rotate: -25deg;
    }
}

.handshake2 {
    animation: handshake2 1s infinite ease-in-out;
    transform-origin: right bottom;
}

@keyframes handshake2 {
    0% {
        rotate: 0deg;
    }
    10% {
        rotate: -15deg;
    }
    20% {
        rotate: 0deg;
    }
    30% {
        rotate: -15deg;
    }
    40% {
        rotate: 0deg;
    }
    100% {
        rotate: 0deg;
    }
}


/* 放大縮小 */

.scale {
    animation: scale 1.25s infinite ease-in-out;
}

@keyframes scale {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.1;
    }
    100% {
        scale: 1;
    }
}


/* 閃光 */

.light {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    overflow: hidden;
    display: block;
    position: relative;
}

.light:after {
    content: "";
    display: block;
    position: absolute;
    left: -100%;
    top: 0;
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .8) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .8) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    animation: light 2.5s infinite ease;
}

@keyframes light {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}


/* 上下晃動 */

.shake_vertical {
    animation: shakeVertical 2.25s infinite ease;
}

@keyframes shakeVertical {
    0% {
        transform: translateY(0%);
    }
    10% {
        transform: translateY(-20px);
    }
    20% {
        transform: translateY(0%);
    }
    30% {
        transform: translateY(-20px);
    }
    40% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(0%);
    }
}


/* 閃爍 */

.shine {
    animation: shine 2s infinite ease;
}

@keyframes shine {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* 漂浮 */

.float {
    animation: float 2.5s infinite ease-in-out;
}

@keyframes float {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(20px);
    }
    0% {
        transform: translateY(0%);
    }
}

@media (max-width:576px) {
    @keyframes float {
        0% {
            transform: translateY(0%);
        }
        50% {
            transform: translateY(10px);
        }
        0% {
            transform: translateY(0%);
        }
    }
}

.float2 {
    animation: float2 2.5s infinite ease-in-out;
}

@keyframes float2 {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(90%);
    }
    0% {
        transform: translateY(0%);
    }
}


/* 奈米球移動 */

.move--ball1 {
    animation: ballMove1 1.5s ease-in;
    animation-delay: 1.4s;
}

.move--ball2 {
    animation: ballMove1 1.5s ease-in;
    animation-delay: 1.5s;
}

.move--ball3 {
    animation: ballMove1 1.5s ease-in;
    animation-delay: 1.6s;
}

@keyframes ballMove1 {
    0% {
        transform: translate(0%, 0%);
    }
    30% {
        transform: translate(50%, -150%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}


/* .move--ball2 {
    animation: ballMove2 1.5s ease-in;
    animation-delay: 0.8s;
}

@keyframes ballMove2 {
    0% {
        top: 59%;
        left: 56%;
    }
    20% {
        top: 43%;
        left: 64%;
    }
    100% {
        top: 59%;
        left: 56%;
    }
} */

.bottleshake {
    animation: bottleshake 4s infinite ease-in-out;
}

@keyframes bottleshake {
    0% {
        transform: translate(0%, 0%);
    }
    10% {
        transform: translate(-5%, 5%);
    }
    20% {
        transform: translate(0%, 0%);
    }
    30% {
        transform: translate(-5%, 5%);
    }
    40% {
        transform: translate(0%, 0%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

.ballshake {
    animation: ballshake 5s infinite ease-in-out;
}

@keyframes ballshake {
    0% {
        transform: translate(0%, 0%);
    }
    10% {
        transform: translate(-5%, 5%);
    }
    20% {
        transform: translate(0%, 0%);
    }
    30% {
        transform: translate(60%, -180%);
    }
    50% {
        transform: translate(0%, 0%);
    }
    /* 50% {
        transform: translate(60%, -180%);
    } */
    60% {
        transform: translate(0%, 0%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

.ballshake2 {
    animation: ballshake2 5s infinite ease;
}

@keyframes ballshake2 {
    0% {
        transform: translate(0%, 0%);
    }
    10% {
        transform: translate(-5%, 5%);
    }
    20% {
        transform: translate(0%, 0%);
    }
    30% {
        transform: translate(55%, -180%);
    }
    50% {
        transform: translate(0%, 0%);
    }
    /* 50% {
        transform: translate(55%, -180%);
    } */
    60% {
        transform: translate(0%, 0%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}


/* 泡泡 */

.bubblebox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: translateZ(-1px);
    pointer-events: none;
}

.bubble {
    position: absolute;
    opacity: .5;
    user-select: none;
}

@keyframes bubble-float {
    from {
        bottom: -20%;
    }
    to {
        bottom: 120%;
    }
}